.posterNav {
  /* min-width: 100%; */
  min-height: 70vh;
  background-color: rgb(53, 108, 153);
}

.firstdiv {
  display: flex;
  justify-content: space-around;
}

.barIcon {
  color: white;
  /* font-size: 25px; */
}

.login {
  color: white;
  font-size: 20px;
}

.dropdown-menu{
    background-color: white;
    width: 100px;
}

.pageTitle{
    color: white;
} 
