.posterNav {
  /* min-width: 100%; */
  min-height: 55vh;
  background-color: rgb(53, 108, 153);
}


.firstdiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.barIcon {
  color: white;
  /* font-size: 25px; */
}

.login {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.dropdown-menu{
    background-color: white;
    width: 100px;
}

.pageTitle{
    color: white;
} 
.icon{
  color: white;
  text-decoration: none;
}





  